In [66]:
import numpy as np
import pandas as pd

In [67]:
from datetime import datetime
todays_date = datetime.today().strftime('%m/%d/%Y')

In [68]:
pilot_or_exp = 1 # 1 pilot, 2 experimental

In [69]:
template_path = '/Users/chrisiyer/_Current/thesis_folder/face_experiment/results/demographics/demographics_template.csv'
datapath = '/Users/chrisiyer/_Current/thesis_folder/face_experiment/results/data/classification/'
datafile = 'prolific_pilot_summmary_twoiterations.csv'

dempath = '/Users/chrisiyer/_Current/thesis_folder/face_experiment/results/demographics/classification/'
demfile = 'pilot12_prolific.csv'
outputfile = dempath + 'pilot12_redcap.csv'


df = pd.read_csv(datapath + datafile)
df_exp = df[df.trial_type == 'demographics']
df_pro = pd.read_csv(dempath + demfile)

output = pd.read_csv(template_path)#.iloc[:,0:output.shape[1]-1]

In [70]:
def create_row(record_id, race, hispanic, gender, other_gender, age, date):
    # race: ['1', '2', '3', '4', '5', '6', '99'] or '' at each
    # hispanic: 0 for no, 1 for yes
    # gender: 0 for male, 1 for female, 2 for other
    # other gender: text
    # age is just a number
    # date: of experimental completion
    
    row = {
        "record_id": record_id,
        "dateofentry": todays_date,
        "experimenter_name": 1, # tyler bonnen
        "irb_num": 2, # 10944
        "grant_sub": 99, # other
        "other_grant": "Anderson grant to tyler bonnen",

        "sub_gender": gender, #0 male 1 female 2 other
        "other_gender": other_gender,
        "sub_race___1": race[0], #native
        "sub_race___2": race[1], #asian
        "sub_race___3": race[2], #pacific islander
        "sub_race___4": race[3], #black
        "sub_race___5": race[4], #white
        "sub_race___6": race[5], #latinx
        "sub_race___99": race[6], #other
        "sub_hispanic": hispanic, #0 no 1 yes
        "sub_age": age, 
        "data_collection_date": date,
        "data_type": pilot_or_exp,
        "modality___1": 1, # behavioral
        "modality___2": "",
        "modality___3": "",
        "modality___4": "",
        "modality___5": "",
        "modality___6": "",
        "modality___7": "",
        "modality___8": "",
        "modality_other": "",
        "collected_online": 1, #yes
        "online_platform___1": 0, #mturk
        "online_platform___2": 1, #prolific,
        "online_platform___3": 0,
        "online_platform___4": 0,
        "other_online": "",
        "participant_exclusion": 0, #no
        "why_excluded": "",
        "participant_withdraw": 0, #no
        "why_withdraw": "",
        "comments": "",
        "date_renewal": "",
        "renewal_report": "",
        "demographics_complete": 0, #incomplete, I guess?
        "experimenter": "",
        "protocol": "",
        "date": "",
        "description": "",
        "report_required": "",
        "why_no_report": "",
        "date_form_submitted": "",
        "date_form_approved": "",
        "date_reported_renewal": "",
        "adverse_events_complete": ""
    }
    return row

In [71]:
def get_race(race_raw):
    output = [0]*7
    if 'Native' in race_raw: output[0] = '1'
    if 'Asian' in race_raw: output[1] = '1'
    if 'Pacific Islander' in race_raw: output[2] = '1'
    if 'Black' in race_raw: output[3] = '1'
    if 'White' in race_raw: output[4] = '1'
    if 'Latinx' in race_raw: output[5] = '1'
    if 'Other' in race_raw: output[6] = '1'
    return output
    
def get_gender(gender_raw): 
    if (gender_raw.startswith('F') or gender_raw.startswith('f')):
        return 1
    elif (gender_raw.startswith('M') or gender_raw.startswith('m')):
        return 0
    else:
        return 2

In [72]:
for i in range(len(df_exp)):
    # for each record, add a row with necessary information
    
    # first, get race, gender
    race_raw = df_exp.iloc[i,:]['race']
    gender_raw = df_exp.iloc[i,:]['sex'] # change this for new data
    # add gender_other for new data!
    hisp_text = df_exp.iloc[i,:]['latinx']
    if hisp_text == "No": hispanic = 0
    else: hispanic = 1
    
    sub_id = df_exp.iloc[i,:]['_id']
    
    # just need age and date
    
    # USE THIS FOR FULL FORM
    age = df_exp.iloc[i,:]['age']
    date_time = df_exp.iloc[i,:]['datetime']
    date = datetime.strptime(date_time[0:date_time.index(',')], '%m/%d/%Y').strftime('%m/%d/%Y')
    
#     # USE THIS NORMALLY
#     pro_row = df_pro.iloc[1,:]#df_pro[df_pro.session_id == id]
#     age = pro_row.age
#     date = pro_row.completed_date_time.split(" ")[0]
    
    row = create_row(
        record_id = i,
        race=get_race(race_raw), 
        hispanic=hispanic, 
        gender=get_gender(gender_raw), 
        other_gender = "", 
        age = age, 
        date = date)
    output.loc[len(output)] = row
    
output

,record_id,dateofentry,experimenter_name,irb_num,grant_sub,other_grant,sub_gender,other_gender,sub_race___1,sub_race___2,...,protocol,date,description,report_required,why_no_report,date_form_submitted,date_form_approved,date_reported_renewal,adverse_events_complete,Unnamed: 52
0,0,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
1,1,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
2,2,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
3,3,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
4,4,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
5,5,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
6,6,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
7,7,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
8,8,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
9,9,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
10,10,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
11,11,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
12,12,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
13,13,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
14,14,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
15,15,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
16,16,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
17,17,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
18,18,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
19,19,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
20,20,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
21,21,03/15/2022,1,2,99,Anderson grant to tyler bonnen,0,,0,0,...,,,,,,,,,,NaN
22,22,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN
23,23,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
24,24,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,1,...,,,,,,,,,,NaN
25,25,03/15/2022,1,2,99,Anderson grant to tyler bonnen,1,,0,0,...,,,,,,,,,,NaN

In [73]:
output.iloc[:,0:output.shape[1]-1].to_csv(outputfile, index=False)